@media screen and (max-width: 1023px) {
  #desktop-menu-container > div:nth-child(2n + 1) {
    display: none;
  }

  .brand .logo {
    left: 25px;
    right: auto;
  }

  .brand .name {
    float: left;
    line-height: 3.3em;
    font-size: 1.5em;
  }

  .for-mobile {
    display: inline;
  }

  .card {
    height: 600px;
  }

  .card-media {
    width: 600px;
  }

  .file {
    width: 90%;
    margin: auto;
  }

  .file-details {
    margin-top: 30px;
    padding-left: 10px;
  }

  footer .row {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {

  #app {
    margin-top: 6em
  }
  
  .card {
    height: 440px;
    margin: 30px auto;
  }

  .card-media {
    width: 400px;
  }

  .brand .logo {
    max-height: 50px;
  }

  nav {
    height: 6em;
  }

  .burger-menu {
    line-height: 4.3em;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .card {
    margin: 20px auto;
    width:360px;
  }
  .card-media{
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    height: 320px;
  }

  .card-media {
    width: 250px;
  }
}

@media screen and (max-width: 310px) {
  #app,
  header {
    display: none;
  }
  .error-message {
    display: inline;
  }
}
