.color-primary {
  color: #fb0d0d;
}

.color-mockups {
  color: #e1b88f;
}

.color-websites {
  color: #d5cc8f;
}

.color-icons {
  color: #4ec573;
}

.color-misc {
  color: #da7a82;
}

.color-plugins {
  color: #3fc3ad;
}

.color-mobile {
  color: #5494bc;
}

.color-uikits {
  color: #747aad;
}

.color-desktop {
  color: #e27e53;
}

.bgcolor-mockups {
  background-color: #e1b88f;
}

.bgcolor-websites {
  background-color: #d5cc8f;
}

.bgcolor-icons {
  background-color: #4ec573;
}

.bgcolor-misc {
  background-color: #da7a82;
}

.bgcolor-plugins {
  background-color: #3fc3ad;
}

.bgcolor-mobile {
  background-color: #5494bc;
}

.bgcolor-uikits {
  background-color: #747aad;
}

.bgcolor-desktop {
  background-color: #e27e53;
}
